<a href="https://colab.research.google.com/github/AhmadAlabrash/Deep-Learning/blob/main/baseball.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [138]:
import pandas as pd
import scipy.stats
import numpy as np

In [137]:
df = pd.read_csv('/content/baseball_stats.csv')
df.dropna

<bound method DataFrame.dropna of                name handedness height weight    avg   HR
0      Brandon Hyde          R     75    210  0.000    0
1       Carey Selph          R     69    175  0.277    0
2      Philip Nastu          L     74    180  0.040    0
3        Kent Hrbek          L     76    200  0.282  293
4       Bill Risley          R     74    215  0.000    0
...             ...        ...    ...    ...    ...  ...
18172    Rob Nelson          L     76    215  0.178    4
18173  Roger Nelson          R     75    200  0.128    0
18174  Fred Luderus          L     71    185  0.277   84
18175      Ed Glenn          R     70    160  0.202    1
18176      Ed Glenn          R                0.067    0

[18177 rows x 6 columns]>

In [139]:
l = df[df.handedness == 'L']
r =df[df.handedness == 'R']
l.drop( ['name','handedness'],axis = 1)

      height weight    avg   HR
2         74    180  0.040    0
3         76    200  0.282  293
9         73    190  0.153    2
13        70    168  0.265   64
15        73    190  0.175    0
...      ...    ...    ...  ...
18150     75    195  0.230   31
18155     70    175  0.249   31
18166     70    178  0.224    0
18172     76    215  0.178    4
18174     71    185  0.277   84

[4696 rows x 4 columns]

In [140]:
l=l.iloc[:,4]


r = r.iloc[:,4]
r.dtypes

dtype('float64')

In [141]:
r = r.astype('f')
l =l.astype('f')

In [151]:
res ,x = scipy.stats.ttest_ind(l,r,equal_var=False)
########result = (False , res[0][0] ,res[1][0])
res

9.9356987826511

In [41]:
l = np.array(df[df.handedness == 'L'])
r = np.array(df[df.handedness == 'R'])

k=[]
j=[]
for i in range(len(l)) : 
   k.append(1)
 
for i in range(len(r)) : 
   j.append(0)  

scipy.stats.ttest_ind(k,j,equal_var=False)

Ttest_indResult(statistic=inf, pvalue=0.0)

In [152]:
import pandas 
import scipy.stats
import numpy 

def compare_averages(filename):
   
    df = pandas.read_csv(filename)
    df.dropna
    
    l = df[df.handedness == 'L']
    r =df[df.handedness == 'R']
    l.drop( ['name','handedness'],axis = 1)
    
    l=l.iloc[:,4]
    r = r.iloc[:,4]
    
    r = r.astype('f')
    l =l.astype('f')
    
    t_value, p_value= scipy.stats.ttest_ind(l,r,equal_var=False)

    null_hypothis_is = True

    if t_value > 9.5 : 
      null_hypothis_is = False
    else :   null_hypothis_is = True

    result = (null_hypothis_is ,t_value  ,p_value)
    
    return result

In [153]:
compare_averages('/content/baseball_stats.csv')

(False, 9.9356987826511, 3.810404511401037e-23)